<mat-sidenav-container
  [class.drawer-opened]="drawer.opened"
  [hasBackdrop]="true"
>
  <mat-sidenav
    #drawer
    class="drawer"
    mode="over"
    opened="false"
    position="end"
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="0"
  >
    <mat-toolbar
      fxLayout="row"
      fxLayoutAlign="space-between center"
      color="accent"
    >
      Card
      <!-- <div>{{ card['name'] }}</div> -->
      <div>
        <button
          mat-icon-button
          (click)="addToDesk(card)"
          matTooltip="Add to my desk"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="drawer.close()"
          matTooltip="Close details"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="contents">
      detail
      <pokemon-tcg-poke-card-detail
        [card]="card"
      ></pokemon-tcg-poke-card-detail>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container mx-auto">
      <div class="flex flex-row justify-center items-end">
        <h1>Pokemon Cards</h1>
      </div>
      <form [formGroup]="formFilter" #toTop>
        <div class="flex flex-row justify-around items-start content-center">
          <mat-form-field class="w-full">
            <mat-label><span>Search card by Pokémon name</span></mat-label>
            <input
              matInput
              #search
              (keyup)="dispatchSearch(search.value)"
              formControlName="searchField"
            />
            <button
              type="text"
              mat-button
              *ngIf="search.value !== ''"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSearch()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="flex flex-row flex-wrap gap-2 justify-start items-center">
          <div class="flex lg:w-1/5 w-full">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label><span>Filter by supertypes</span></mat-label>
              <mat-select formControlName="supertype">
                <mat-option [value]="''"><span>All</span></mat-option>
                <mat-option
                  *ngFor="let supertypes of supertypesList"
                  [value]="supertypes"
                >
                  {{ supertypes }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex lg:w-1/5 w-full">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label><span>Filter by types</span></mat-label>
              <mat-select formControlName="types">
                <mat-option [value]="''"><span>All</span></mat-option>
                <mat-option *ngFor="let types of typesList" [value]="types">
                  {{ types }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex lg:w-1/5 w-full">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label><span>Filter by subtypes</span></mat-label>
              <mat-select formControlName="subtypes">
                <mat-option [value]="''"><span>All</span></mat-option>
                <mat-option
                  *ngFor="let subtypes of subtypesList"
                  [value]="subtypes"
                >
                  {{ subtypes }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex lg:w-1/5 w-full">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label><span>Filter by set</span></mat-label>
              <mat-select formControlName="set">
                <input
                  class="select-search"
                  matInput
                  [(ngModel)]="searchListText"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Type set name"
                />
                <button
                  class="select-search-button"
                  mat-button
                  *ngIf="searchListText !== ''"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="searchListText = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <mat-option [value]="''"><span>All</span></mat-option>
                <mat-option
                  *ngFor="let set of setList | selectedSearch : searchListText"
                  [value]="set.name"
                >
                  <span class="set-symbol">
                    <img [src]="set.images.symbol" alt="symbol" />
                  </span>
                  {{ set.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex lg:w-1/6 w-full">
            <button
              type="button"
              mat-stroked-button
              color="accent"
              (click)="clearFilters()"
            >
              <span>Clear Filters</span>
            </button>
          </div>
        </div>
      </form>
      <br />

      <div class="card-content">
        <div *ngIf="characters$ | async as cardsList">
          <div class="flex flex-row flex-wrap gap-4 items-center justify-start">
            <ng-container *ngFor="let card of cardsList">
              <div>
                <pokemon-tcg-poke-card
                  [card]="card"
                  (openDetail)="showDetails($event)"
                  (addToDesk)="addToDesk($event)"
                ></pokemon-tcg-poke-card>
              </div>
            </ng-container>
          </div>
        </div>

        <div *ngIf="emptyResult">
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="20px"
          >
            <h2>Ops: No results found for this search filters</h2>
            <img src="assets/images/notfound.gif" alt="Page not Found" />
            <button mat-raised-button color="primary" (click)="clearFilters()">
              Reset Search
            </button>
          </div>
        </div>
      </div>
      <br />
      <mat-paginator
        #paginator
        [length]="resultsLength"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
