.mat-flat-button {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.select-search {
    padding: 15px;
    width: 90%;
}

.select-search-button {
    position: absolute;
    right: 0;
    top: 7px;
}

.set-symbol {
    img {
        margin-right: 5px;
        vertical-align: middle;
        width: 24px;
    }
}

.card-content {
    min-height: 100vh;
}

.contents {
    padding: 16px;
}

.mat-drawer {
    width: 350px;
}